<tr bgcolor="#FFFFFF"><td valign="top"><img src="aimgs/28090-1-desc.img" align="left" class="articlesdesc"></td><td valign="top" width="100%"><a href="lire-<%=article.title.parameterize%>-<%=article.id%>.htm"><h2><%=article.title%></h2><h4><%=article.subtitle%></h4></a></td></tr>
