<!-- 
                <font size="2">
                
                
                <b>LYCéE SAINTE MARIE</b> &nbsp; Antony</font><br><font size="1"><i><a href="meetings.php?action=results&amp;form_bahut=1714" target="_blank">Qui d'autre de là bas ?</a></i>


-->
