<tr><td colspan="4">Noter l'article
        <table cellspacing="0" cellpadding="2" border="0" width="100%">
            <form id="poster" method="post" name="formulaire" action="/message.php?star=&tid=<%=@article.category.id%>&tid2=<%=params[:tid2]%>" onSubmit="post.disabled = true;">
                <tr bgcolor="#FFFFFF"><td>
                        <table>
                            <tr>
                                <td>
                                  <input type="image" width="70px" height="70px" name="star1" id="image1" alt="Login"
       src="/images/star1.png">

                                </td>
          <td>
                                  <input type="image" width="70px" height="70px" name="star2" id="image2" alt="Login"
       src="/images/star1.png">

                                </td>    <td>
                                  <input type="image" width="70px" height="70px" name="star3" id="image3" alt="Login"
       src="/images/star1.png">

                                </td>    <td>
                                  <input type="image" width="70px" height="70px" name="star4" id="image4" alt="Login"
       src="/images/star1.png">

                                </td>    <td>
                                  <input type="image" width="70px" height="70px" name="star5" id="image5" alt="Login"
       src="/images/star1.png">

                                </td>
                            </tr>
                        </table>
                    </td></tr>
                <tr bgcolor="#F0F1F6"><td></td></tr>
            </form>
            <script>document.formulaire.login.focus();</script>
            
            
            <tr><td colspan="2" style="padding: 0px;">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr><td bgcolor="#373C4F"><img src="images/invisible.gif" width="1" height="1"></td></tr></table></td></tr>
            </table></td></tr>
