<td width="100%" valign="top">
        <div align="justify"><script language="javascript">
function ChangeUrl(formulaire)
{location.href="publish_wizard.php?&actions="+formulaire.actions.option[formulaire.actions.selectedIndex].value+"&tempid=01643494043";}

function change_image_texte(image)
{
	for(i=1;i<=3;i++)
	{writit("","image_texte_"+i);}
	writit("Cliquez sur une image pour l'associer &agrave; ce paragraphe.","image_texte_"+image);
	document.formulaire.current_paragraphe.value=image;
}

function change_image(image)
{
	writit('<img src="tmpub/01643494043-'+image+'.img?1643494043" class="images">',"image_"+document.formulaire.current_paragraphe.value);
	if(document.formulaire.current_paragraphe.value!=1)
	{writit("<a href=\"#null\" onclick=\"javascript:supprimer_image("+document.formulaire.current_paragraphe.value+");\">Supprimer</a>","image_supprimer_"+document.formulaire.current_paragraphe.value);}
	eval("document.formulaire.image_paragraphe_"+document.formulaire.current_paragraphe.value+".value=image;");
}

function supprimer_image(paragraphe)
{
	writit("","image_"+paragraphe);
	writit("","image_supprimer_"+paragraphe);
	eval("document.formulaire.image_paragraphe_"+paragraphe+".value='';");
}
</script>

<table width="100%">
<form method="get" action="publish_wizard.php">
<tr><td NOWRAP><b>Aller &agrave; :</b>&nbsp;</td><td>
        
<%=select_tag :actions, options_for_select([["Démarrage de l'assistant",""],["Choix du titre et de la rubrique","titre"],["Envoi des images","images"],["Création de la description","description"],["Création des paragraphes","corps"],["Prévisualisation","end"]], params[:actions])%>
    
    
    </td><td width="100%">&nbsp;<input type="hidden" name="tempid" value="01643494043"><input type="submit" value="Go"></td>

</tr>




</form>
    
    
    <tr>
        
        
        <td colspan="3" style="padding: 0px;"><table cellspacing="0" cellpadding="0" border="0" width="100%"><tr><td bgcolor="#373C4F"><img src="images/invisible.gif" width="1" height="1"></td></tr></table></td></tr>


</table>


<br>
Bienvenue dans cet assistant pour écrire un article.
<%=link_to "Suivant", publishwizard_path(actions: "titre")%>
        
        
        </div>
    
    </td>
