<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CDW7JJ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<div style="position:absolute; top:0px; left:0px;"><a href="/"><img src="images/skate.jpg" border="0"></a></div>
<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" style="height: 100%;" bgcolor="#FFFFFF">
<tr><td valign="top" width="90%">

<table width="100%" height="128" cellspacing="0" cellpadding="0" border="0">
<tr><td background="images/lignes.gif" align="right" valign="top"><a href="/"><img src="images/logo.gif" width="221" height="50" border="0"></a><br>
<img src="images/invisible.gif" height="5" width="1"><br><ins data-revive-zoneid="11" data-revive-id="19457f340be8d054289faaacff241635"></ins><img src="images/invisible.gif" height="1" width="5"></td></tr>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<form method="get" name="sformq" action="search.php" onsubmit="sval();">
<tr><td width="100%">&nbsp;&nbsp;Non connect&eacute;. <a href="log.php">Connectez-vous</a> ou <a href="inscription.php">devenez membre</a> (gratuit).</td><script language="Javascript">
function sval()
{
	if(document.sformq.search_type.options[document.sformq.search_type.selectedIndex].value=="site entier")
	{document.sformq.target="_blank";}
	else
	{document.sformq.target="_self";document.sformq.post.disabled=true;}
	return true;
}
</script><td NOWRAP>Recherche rapide :</td><td NOWRAP>&nbsp;&nbsp;<input type="text" name="q" value="" size="25">&nbsp;</td><td><select name="search_type"><option value="articles">articles</option><option value="membres">membres</option><option value="paroles">paroles</option><option value="forums">forums</option><option value="images">images</option><option value="aide en ligne">aide en ligne</option><option value="site entier">site entier</option></select></td><td NOWRAP>&nbsp;<input type="submit" name="post" value="go">&nbsp;</td></tr>
</form>
<tr><td colspan="5"><img src="images/invisible.gif" width="1" height="3"></td></tr>
<tr><td bgcolor="#000000" colspan="5"><img src="images/invisible.gif" width="1" height="1"></td></tr>
</table>
