<td width="33%" align="left" valign="top"><a href="imgserv.php?tid=<%=image.rubriqueimage_id%>&amp;tid2=<%=image.id%>&amp;rubrique="><img src="<%=image.image%>" width="50" height="50" align="left" class="images"><h2><%=image.name%></h2></a></td>
