<td>
    <a href='' style="margin:10px;width:300px;padding:10px;">france jeunes</a><br>
<%=text_area_tag :content, "<a href=''>france jeunes</a>", {style:"margin:10px;width:300px;padding:10px;"}%>
</td>