<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- saved from url=(0039)/ultra.php -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[POP] FRANCE-JEUNES.NET : DES DIZAINES DE MILLIERS D'ARTICLES SUR TOUS LES SUJETS</title>
<meta http-equiv="Content-Type" content="text/html">
<meta name="Description" content="Le webzine des webnautes... bref le rendez-vous des jeunes internautes : actus, culture, sports, multimédia, amour, humour, bons plans, vie du jeune, les trucs des jeunes, etc...">
<meta name="Keywords" content="jeunes,jeunesse,draguer,communauté,15,25,france,actualité,people,stars,cinema,musique">
<meta property="og:site_name" content="France-jeunes.net">
<meta property="fb:page_id" content="219687268334">
<meta property="fb:admins" content="771435067">


<style type="text/css">
html,body	{ height: 100%; }
body,table,td,tr,input,select,textarea	{ font-size: 10px; font-family: "verdana","arial","helvetical","geneva",sans-serif; }
h1	{ font-size: 18px; margin: 0px; }
h2	{ font-size: 12px; margin: 0px; }
h3	{ font-size: 11px; margin: 0px; }
h4	{ font-size: 10px; font-weight: normal; color: #000000; text-decoration: none; margin: 0px; }

.erreur { color: #CC0000; }
.success { color: #42921E; }
div.message { background-color: #FFFFE1; border: 1px dashed #CFCFCF; margin-top: 8px; margin-bottom: 16px; padding: 6px 6px 6px 32px; line-height: 18px; font-weight: bold; font-size: 13px; }
div.message td { line-height: 18px; }
img.message { margin-left: -24px; }

a { text-decoration: none; font-family: "verdana","arial","helvetical","geneva",sans-serif; }
a:link,a:visited	{ color: #3F4D5C; text-decoration: underline; }
a:hover,a:active	{ color: #000000; text-decoration: underline; }

.ml,a.ml:link,a.ml:visited,a.ml:hover,a.ml:active	{ font-size: 10px; color: #1B501B; text-decoration: none; }
a.ml:hover,a.ml:active	{ color: #000000; text-decoration: none; }

.mr,a.mr:link,a.mr:visited,a.mr:hover,a.mr:active	{ font-size: 10px; color: #515117; text-decoration: none; }
a.mr:hover,a.mr:active	{ color: #000000; text-decoration: none; }

a.blanc:link,a.blanc:visited	{ color: #FFFFFF; text-decoration: underline; }
a.blanc:hover,a.blanc:active	{ color: #FFFFFF; text-decoration: underline; }

img.mr	{ border: solid #63632A 1px; margin: 3px; margin-top: 0px; margin-left: 0px; }
img.images	{ border: solid #373C4F 1px; margin: 3px; margin-top: 0px; }
img.articles	{ border: solid #000000 1px; margin: 3px; margin-top: 0px; margin-bottom: 0px; }
img.articlesdesc	{ border: solid #000000 1px; margin: 3px; margin-top: 0px; margin-bottom: 0px; }

.titre1	{ font-size: 18px; color: #7284B9; font-family: "trebuchet ms"; font-weight: bold; }
.titre2	{ font-size: 14px; color: #A7B5DD; font-family: "trebuchet ms"; font-weight: bold; }
.small	{ font-size: 9px; }
.margin	{ margin: 3px; }
.blanc	{ color: #FFFFFF; }
</style>
<!-- <script type="text/javascript" src="https://partner.googleadservices.com/gampad/google_service.js" data-cfasync="false"></script>
<script type="text/javascript">GS_googleAddAdSenseService("ca-pub-8579961303887111");GS_googleEnableAllServices();</script>
<script type="text/javascript">
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_120x240");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_120x240_CONTENT");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_120x240_MENU_NEWDESIGN");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_120x240_MENU_OLDDESIGN");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_120x90");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_120x90_MENU_NEWDESIGN");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_120x90_MENU_OLDDESIGN");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_300x250");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_300x250_LYRICS");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_300x250_LYRICS_ARTISTS-TITLES");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_300x250_WINDOWS");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_336x280");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_336x280_ARTICLES");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_468x15");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_468x60");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_468x60_ARTICLES");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_728x90");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_FLASHABSOLUTE");
  GA_googleAddSlot("ca-pub-8579961303887111", "FJ_SITEUNDER");
</script> -->
<script type="text/javascript" async="" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/ga.js"></script><script type="text/javascript">
	var _gaq=_gaq || [];
	_gaq.push(['_setAccount','UA-87251-5']);
	_gaq.push(['_trackPageview']);

	(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();
</script>
<script type="text/javascript">
		// GA_googleFetchAds();
</script>
</head>

<body bgcolor="#E1EEE1" text="#000000" style="margin: 0px; height: 100%;">
<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" style="height: 100%;">
<tbody><tr><td bgcolor="#FFFFFF" width="100%" valign="top"><table cellspacing="0" cellpadding="0" border="0" width="100%">
<tbody><tr><td background="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/lignes.gif" align="right"><a href="/" target="_blank"><img src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/logo.gif" width="221" height="50" border="0"></a></td></tr>
</tbody></table><img src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/invisible.gif" width="1" height="15"><br><div align="justify" class="margin"><table cellspacing="0" cellpadding="2" border="0" width="100%"><tbody><tr><td colspan="3" style="padding: 0px;"><table cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td bgcolor="#373C4F"><img src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/invisible.gif" width="1" height="1"></td></tr></tbody></table></td></tr><tr bgcolor="#F0F1F6" height="15">
<form method="post" action="/ultra.php" onsubmit="post.disabled=true;"></form>
<td height="75" colspan="3">
Un ultramembre est un membre qui bénéficie de nombreux avantages supplémentaires, comme l'envoi de <b>50 photos sur sa fiche</b> (au lieu de 10), la possibilité d'avoir une <b>liste de membres indésirables</b> desquels il ne veut plus recevoir de messages, de <b>voir qui a visité sa fiche</b>, <b>d'avoir des forums privés</b> (webcommunautés) et même voir <b>qui a lu ses articles</b> et <b>les notes mises dessus</b>.<br>
En outre <b>les ultramembres apparaissent systématiquement en premier dans la liste des connectés ainsi que dans toutes les listes de membre (recherche, ...)</b>.<br>
<b>Pour la France, l'appel est à 1,80 € (soit environ 5FF par mois pour être ultramembre), cet argent n'est pas fait pour faire des bénéfices mais pour payer l'hébergement</b> qui coûte très cher pour un site comme france-jeunes. Rien ne vous oblige à être ultramembre.</td></tr><tr><td colspan="3" style="padding: 0px;"><table cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td bgcolor="#373C4F"><img src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/invisible.gif" width="1" height="1"></td></tr></tbody></table></td></tr>
<tr height="15"><td colspan="3"><br><br><center><font size="4"><b>Si vous avez déjà écrit des articles, vous pouvez échanger vos Fliz contre un code utilisable ici depuis la page "<a href="/shop.php" target="_blank">Passer commande</a>".</b></font></center><br><b>Cliquez sur le drapeau représentant votre pays pour obtenir le n° de téléphone à appeler. Vous obtiendrez ainsi un code qu'il vous suffira d'entrer dans le formulaire ci-dessous.</b><br>
<center><a href="/ultra.php#null" onclick="window.open(&#39;/show_ccard.php4?LG=UK&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;ccard&#39;,&#39;toolbar=0,location=0,directories=0,status=1,scrollbars=1,resizable=1,copyhistory=0,menubar=0,width=550,height=575&#39;);"><img src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/creditcard.gif" border="0" alt="if your country is not listed, click here"></a> 
<a href="/ultra.php#null" onclick="javascript:window.open(&#39;/show_accessv2.php4?PALIER=4&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;_blank&#39;,&#39;toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menubar=0,width=300,height=162&#39;);"><img border="0" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/flag_fr.png" width="35" height="29"></a>
<a href="/ultra.php#null" onclick="javascript:window.open(&#39;/show_accessv2.php4?PALIER=32768&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;_blank&#39;,&#39;toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menubar=0,width=300,height=162&#39;);"><img border="0" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/flag_be.png" width="35" height="29"></a>
<a href="/ultra.php#null" onclick="javascript:window.open(&#39;/show_accessv2.php4?PALIER=65536&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;_blank&#39;,&#39;toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menubar=0,width=300,height=162&#39;);"><img border="0" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/flag_ch.png" width="35" height="29"></a>
<a href="/ultra.php#null" onclick="javascript:window.open(&#39;/show_accessv2.php4?PALIER=256&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;_blank&#39;,&#39;toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menubar=0,width=300,height=162&#39;);"><img border="0" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/flag_ca.png" width="35" height="29"></a>
<a href="/ultra.php#null" onclick="javascript:window.open(&#39;/show_accessv2.php4?PALIER=16&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;_blank&#39;,&#39;toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menubar=0,width=300,height=162&#39;);"><img border="0" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/flag_de.png" width="35" height="29"></a>
<a href="/ultra.php#null" onclick="javascript:window.open(&#39;/show_accessv2.php4?PALIER=32&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;_blank&#39;,&#39;toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menubar=0,width=300,height=162&#39;);"><img border="0" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/flag_uk.png" width="35" height="29"></a>
<a href="/ultra.php#null" onclick="javascript:window.open(&#39;/show_accessv2.php4?PALIER=512&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;_blank&#39;,&#39;toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menubar=0,width=300,height=162&#39;);"><img border="0" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/flag_nl.png" width="35" height="29"></a>
<a href="/ultra.php#null" onclick="javascript:window.open(&#39;/show_accessv2.php4?PALIER=1024&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;_blank&#39;,&#39;toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menubar=0,width=300,height=162&#39;);"><img border="0" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/flag_es.png" width="35" height="29"></a>
<a href="/ultra.php#null" onclick="javascript:window.open(&#39;/show_accessv2.php4?PALIER=2048&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;_blank&#39;,&#39;toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menubar=0,width=300,height=162&#39;);"><img border="0" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/flag_at.png" width="35" height="29"></a>
<a href="/ultra.php#null" onclick="javascript:window.open(&#39;/show_accessv2.php4?PALIER=4096&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;_blank&#39;,&#39;toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menubar=0,width=300,height=162&#39;);"><img border="0" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/flag_lu.png" width="35" height="29"></a>
<a href="/ultra.php#null" onclick="javascript:window.open(&#39;/show_accessv2.php4?PALIER=8192&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;_blank&#39;,&#39;toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menubar=0,width=300,height=162&#39;);"><img border="0" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/flag_it.png" width="35" height="29"></a>
<a href="/ultra.php#null" onclick="javascript:window.open(&#39;/show_accessv2.php4?PALIER=524288&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;_blank&#39;,&#39;toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menubar=0,width=300,height=162&#39;);"><img border="0" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/flag_hk.png" width="35" height="29"></a>
<a href="/ultra.php#null" onclick="javascript:window.open(&#39;/show_accessv2.php4?PALIER=2097152&amp;SITE_ID=17701&amp;DOC_ID=135967&#39;,&#39;_blank&#39;,&#39;toolbar=0,location=0,directories=0,status=0,scrollbars=0,resizable=0,copyhistory=0,menubar=0,width=300,height=162&#39;);"><img border="0" src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/flag_nz.png" width="35" height="29"></a>
</center></td></tr><tr><td colspan="3" style="padding: 0px;"><table cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td bgcolor="#373C4F"><img src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/invisible.gif" width="1" height="1"></td></tr></tbody></table></td></tr><tr bgcolor="#F0F1F6" height="15"><td><h2>Vous devez être au moins membre simple pour devenir ultramembre.</h2><a href="/inscription.php" target="_blank"><b>Cliquez ici</b></a> pour vous inscrire.</td></tr><tr height="15"><td colspan="2">. <a href="/ultra_sms.php">Cliquez ici si vous préférez payer par SMS+</a></td></tr><tr><td colspan="3" style="padding: 0px;"><table cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td bgcolor="#373C4F"><img src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/invisible.gif" width="1" height="1"></td></tr></tbody></table></td></tr></tbody></table></div></td><td background="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/ombre.gif"><img src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/invisible.gif" width="9" height="1" border="0"></td><td background="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/quadri.gif" width="100%"><img src="./[POP] FRANCE-JEUNES.NET _ DES DIZAINES DE MILLIERS D&#39;ARTICLES SUR TOUS LES SUJETS_files/invisible.gif" width="30" height="1"></td>
</tr></tbody></table>

</body></html>