                <tr bgcolor="<%=cycle('#F0F1F6','#FFFFFF') -%>"><td><a href="paroles.php?artiste=<%=song.artistname.gsub(' ','+')%>"><%=song.artistname%></a></td><td></td><td></td><td nowrap=""><%=song.countvues%> aff.</td></tr>

