                                <tr><td colspan="3"><br><font size="4" face="Trebuchet MS" class="erreur"><b><%=forumcat.name%></b></font></td></tr>
<%=render collection: forumcat.forummessages, as: :subcat, partial: "forumcats/subcats"%>
