<td valign="top">

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="220" height="1"></td></tr>
<tr><td bgcolor="#EAEAC2" align="center"><div class="margin">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="text-align: center;">
<tr><td class="small"><a href="/" class="mr"><img src="images/articles.gif" border="0"><br>articles</a></td><td class="small"><a href="discut.php" class="mr"><img src="images/forums.gif" border="0"><br>forums</a></td><td class="small"><a href="members.php" style="line-height: 8px;" class="mr"><img src="images/membres.gif" border="0"><br>espace<br>membres</a></td></tr>
</table>
</div></td></tr>
<tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="1" height="1"></td></tr>
</table>
<img src="images/invisible.gif" width="1" height="10">

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="220" height="1"></td></tr>
<tr><td bgcolor="#EAEAC2" align="center"><div class="margin">
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="text-align: center;">
<tr><td valign="top" class="small"><a href="paroles.php" class="mr"><img src="images/paroles.gif" border="0"><br>paroles</a></td><td valign="top" class="small"><a href="imgserv.php" class="mr"><img src="images/images.gif" border="0"><br>images</a></td><td valign="top" class="small"><a href="meetings.php" class="mr"><img src="images/rencontres.gif" border="0"><br>rencontres</a></td></tr>
</table>
</div></td></tr>
<tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="1" height="1"></td></tr>
</table>
<img src="images/invisible.gif" width="1" height="10">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="220" height="1"></td></tr>
<tr><td bgcolor="#EAEAC2"><div class="margin">
. <a href="ultra.php" onClick="window.open('ultra.php','_blank','width=770,height=480,scrollbars=1,toolbar=0,titlebar=0,status=0,resizable=1');document.location.href='ultrazone.php';return(false);" target="_blank" class="mr" style="font-size: 12px; font-weight: bold;">Devenir ultramembre</a><br>
. <a href="help.php" class="mr">Aide en ligne (FAQ)</a><br>
. <a href="link.php" class="mr">Faire un lien vers le site</a><br>
. <a href="annonceurs.php" class="mr">Annoncez sur france-jeunes</a><br>
. <a href="contact.php" class="mr">Contacts</a><br>
</div></td></tr>
<tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="1" height="1"></td></tr>
</table>
<img src="images/invisible.gif" width="1" height="10">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="220" height="1"></td></tr>
<form method="post" action="lettre.php" onsubmit="post.disabled=true;">
<tr><td bgcolor="#EAEAC2" class="mr"><div class="margin">
<b>Recevoir la lettre d'information :</b><br><center>
<input type="text" name="form_email" value="Indiquez votre e-mail" onFocus="javascript:if(this.value=='Indiquez votre e-mail') this.value='';" size="20" style="width: 160px;"> <input type="submit" name="post" value="OK">
</center></div></td></tr>
</form>
<tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="1" height="1"></td></tr>
</table><img src="images/invisible.gif" width="1" height="10">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="220" height="1"></td></tr>
<tr><td bgcolor="#EAEAC2" class="mr"><div class="margin"><b>Connect&eacute;s :</b><br>&nbsp;&nbsp;&nbsp;&nbsp;<b>0</b> <a href="connectes.php" class="mr"><u>membres</u></a> et <b>205</b> visiteurs</div></td></tr>
<tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="1" height="1"></td></tr>
</table>
<img src="images/invisible.gif" width="1" height="5"><br />
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffrance.jeunes%2F&tabs&width=220&height=200&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=119174524765571" width="220" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</td>
