<tr height="15"><td>&nbsp;&nbsp;&nbsp;<a href="discut.php?type_forum=&tid=<%=params[:tid]%>&nb2=10">10</a>&nbsp;&nbsp;<a href="discut.php?type_forum=&tid=<%=params[:tid]%>&nb2=20">20</a>&nbsp;&nbsp;<a href="discut.php?type_forum=&tid=<%=params[:tid]%>&nb2=50">50</a>&nbsp;&nbsp;&nbsp;(<b>10</b>)</td><td colspan="4" align="right"></td></tr>

