<td width="25%" align="center" valign="top" style="padding: 5px;">
                
                
                <table cellspacing="0" cellpadding="0" border="0">
                    
                    <tbody><tr>
                            <td><table cellspacing="1" cellpadding="5" border="0" bgcolor="#000000"><tbody>
                                        
<tr>
    <td bgcolor="#FFFFFF" align="center"><a href="imgserv_view.php?tid=<%=image.id%>" target="_blank"><img src="/annu_img/mini/<%=image.image%>" border="0"></a>
    </td>
</tr></tbody></table>
                            </td>
                            <td bgcolor="#DDDDDD" valign="top"><img src="/images/blanc.gif" width="3" height="3"></td></tr>
                        
<tr><td align="left" bgcolor="#DDDDDD" colspan="2"><img src="/images/blanc.gif" width="3" height="3"></td></tr>
</tbody></table>

            </td>
