
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>FRANCE-JEUNES.NET : GAGNEZ DES CADEAUX EN ECRIVANT DES ARTICLES !</title>
<meta http-equiv="Content-Type" content="text/html" />
<meta name="Description" content="Le webzine des webnautes... bref le rendez-vous des jeunes internautes : actus, culture, sports, multimédia, amour, humour, bons plans, vie du jeune, les trucs des jeunes, etc..." />
<meta name="Keywords" content="jeunes, jeunesse, draguer, communauté, 15, 25, france, actualité, people, stars, cinema, musique" />
<!-- <meta http-equiv="pics-label" content='(pics-1.1 "http://www.icra.org/ratingsv02.html" comment "ICRAonline FR v2.0" l gen true for "https://www.france-jeunes.net" r (nz 1 vz 1 lz 1 oz 1 ca 1 cb 1) "http://www.rsac.org/ratingsv01.html" l gen true for "https://www.france-jeunes.net" r (n 0 s 0 v 0 l 0))'> -->
<meta property="og:site_name" content="France-jeunes.net" />
<meta property="fb:page_id" content="219687268334" />
<meta property="fb:admins" content="771435067" />
<link rel="icon" href="/images/terrecasque3.jpeg" />


<style type="text/css">
html,body	{ height: 100%; }
body,table,td,tr,input,select,textarea	{ font-size: 10px; font-family: "verdana","arial","helvetical","geneva",sans-serif; }
h1	{ font-size: 18px; margin: 0px; }
h2	{ font-size: 12px; margin: 0px; }
h3	{ font-size: 11px; margin: 0px; }
h4	{ font-size: 10px; font-weight: normal; color: #000000; text-decoration: none !important; margin: 0px; }

.erreur { color: #CC0000; }
.success { color: #42921E; }
div.message { background-color: #FFFFE1; border: 1px dashed #CFCFCF; margin-top: 8px; margin-bottom: 16px; padding: 6px 6px 6px 32px; line-height: 18px; font-weight: bold; font-size: 13px; }
div.message td { line-height: 18px; }
img.message { margin-left: -24px; }

a { text-decoration: none; font-family: "verdana","arial","helvetical","geneva",sans-serif; }
a:link,a:visited	{ color: #3F4D5C; text-decoration: underline; }
a:hover,a:active	{ color: #000000; text-decoration: underline; }

.ml,a.ml:link,a.ml:visited,a.ml:hover,a.ml:active	{ font-size: 10px; color: #1B501B; text-decoration: none; }
a.ml:hover,a.ml:active	{ color: #000000; text-decoration: none; }

.mr,a.mr:link,a.mr:visited,a.mr:hover,a.mr:active	{ font-size: 10px; color: #515117; text-decoration: none; }
a.mr:hover,a.mr:active	{ color: #000000; text-decoration: none; }

a.blanc:link,a.blanc:visited	{ color: #FFFFFF; text-decoration: underline; }
a.blanc:hover,a.blanc:active	{ color: #FFFFFF; text-decoration: underline; }

img.mr	{ border: solid #63632A 1px; margin: 3px; margin-top: 0px; margin-left: 0px; }
img.images	{ border: solid #373C4F 1px; margin: 3px; margin-top: 0px; }
img.articles	{ border: solid #000000 1px; margin: 3px; margin-top: 0px; margin-bottom: 3px; float: left; clear: left; }
img.articlesdesc	{ border: solid #000000 1px; margin: 3px; margin-top: 0px; margin-bottom: 0px; float: left; }

.titre1	{ font-size: 18px; color: #7284B9; font-family: "trebuchet ms"; font-weight: bold; }
.titre2	{ font-size: 14px; color: #A7B5DD; font-family: "trebuchet ms"; font-weight: bold; }
.small	{ font-size: 9px; }
.margin	{ margin: 3px; }
.blanc	{ color: #FFFFFF; }
.big_admin	{ font-size: 18px; font-weight: bold; text-decoration: underline; color: #CC0000; }
.mod_admin	{ font-size: 14px; font-weight: bold; text-decoration: none; color: #465FA0; }

.box		{ border: solid #CCCCCC 1px; margin: 2px; margin-bottom: 4px; padding: 2px; }
.boxTitle	{ font-size: 12px; font-weight: bold; color: #999999; }
img.articlesdesc2	{ border: solid #000000 1px; margin: 3px; }

#inner_ad { float: right; clear: right; padding: 0 0 5px 5px; }
<%=yield :mycss%>
</style>

<script language="JavaScript">
<!--
function writit(text,id)
{
	if(document.getElementById)
	{
		x=document.getElementById(id);
		x.innerHTML='';
		x.innerHTML=text;
	}
	else if(document.all)
	{
		x=document.all[id];
		x.innerHTML=text;
	}
	else if(document.layers)
	{
		x=document.layers[id];
		x.document.open();
		x.document.write(text);
		x.document.close();
	}
}
//-->
</script><script type="text/javascript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5CDW7JJ');</script>
<!-- <script async src="//ads.courcelle.com/www/delivery/asyncjs.php"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
<script type="text/javascript">
	GTagManagerDesignVersion="NEWDESIGN";
	GTagManagerUserId="0";GTagManagerUltra="Visitor";GTagManagerGender="Visitor";GTagManagerAge="Visitor";GTagManagerGoogleBot="No";</script>
</head>

<body bgcolor="#E1EEE1" text="#000000" style="margin: 0px; height: 100%;">


<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CDW7JJ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<div style="position:absolute; top:0px; left:0px;"><a href="/"><img src="images/skate.jpg" border="0"></a></div>
<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" style="height: 100%;" bgcolor="#FFFFFF">
<tr><td valign="top" width="90%">

<table width="100%" height="128" cellspacing="0" cellpadding="0" border="0">
<tr><td background="images/lignes.gif" align="right" valign="top"><a href="/"><img src="images/logo.gif" width="221" height="50" border="0"></a><br>
<img src="images/invisible.gif" height="5" width="1"><br><ins data-revive-zoneid="11" data-revive-id="19457f340be8d054289faaacff241635"></ins><img src="images/invisible.gif" height="1" width="5"></td></tr>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<%=render "tableauconnexion"%>
<tr><td colspan="5"><img src="images/invisible.gif" width="1" height="3"></td></tr>
<tr><td bgcolor="#000000" colspan="5"><img src="images/invisible.gif" width="1" height="1"></td></tr>
</table>
<table width="100%" cellspacing="10" cellpadding="0" border="0">
<tr>
    
<%=notice ? (render 'notice') : nil%>

<%=yield%>



</tr>







</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td bgcolor="#000000"><img src="images/invisible.gif" width="760" height="1"></td></tr>
<tr><td><table cellspacing="0" cellpadding="3" border="0" width="100%"><tr><td width="100%" valign="top"><a href="go.php?tid=127" target="_blank">tubededentifrice.com</a>, <a href="partenaires.php">...</a></td><td align="right" valign="top" NOWRAP><i>&nbsp;&nbsp;&nbsp;&nbsp;<b>CNIL: 752143.</b></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/publish_wizard.php?form_large_screen=1" style="text-decoration: none;">&nbsp;|]&nbsp;</a><a href="/publish_wizard.php?form_font_size=12" style="text-decoration: none;">&nbsp;&#9650;&nbsp;</a></td></tr></table></td></tr>
</table>
</td><td bgcolor="#E1EEE1" background="images/ombre.gif"><img src="images/invisible.gif" width="9" height="1" border="0"></td><td bgcolor="#E1EEE1" background="images/quadri.gif" width="100%"></td></tr>
</table>
<ins data-revive-zoneid="12" data-revive-id="19457f340be8d054289faaacff241635"></ins>


</body>
</html>
