<a href="/view.php?tid=<%=member.id%>&amp;HTTP_REFERER=%2Fguiness.php%2F&amp;" onclick="window.open('view.php?tid=<%=member.id%>&amp;HTTP_REFERER=%2Fguiness.php%2F&amp;', '_blank', 'width=795,height=480,scrollbars=1,toolbar=1,titlebar=0,status=0,resizable=1');
                                      return(false);" target="_blank"><%=member.username%></a>
